.jumbotron {
    background: url(".././assets/images/header.jpg") no-repeat bottom;
    background-size: cover;
    height: 250px;
    border-radius: 0px;
    /* background-color: pink;
    border: 2px solid green; */
  }
