/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER   */

.footer{
  color: black;
  background-color:white ;
  margin-top: 0.6em;
  padding-top: 0.6em;
  position: relative;
  bottom: 0;
  width:100%;
}
