/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
.navbar{
  display: flex;
  background-color: var(--mainbrand);
}

.nav-wrapper{
  display: flex;
  width: 100%;
}

.logo-wrapper{
  display: flex;
}

.logo-text{
  font-size: 60px;
  color: white;
  font-family: 'Fredericka the Great', cursive;
}

.nav-icons-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
  
.nav-icons-wrapper a {
  color:black;
}

.navbar-icon{
  height: 40px;
  width: 40px;
}

.navbar-icon:hover{
  transform: scale(1.1);
  color: #555;
}

