/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */

.navbar{
  color: black;
  background-color: var(--mainbrand);
  padding-top: 1em;
  bottom: 0;
  width:100%;
  font-family: Arial;

}
  
.navbar a {
  float: left;
  font-size: 16px;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial;
}

.navbar-icon{
  height: 40px;
  width: 40px;
}

.navbar-icon:hover{
  transform: scale(1.1);
}