.newsfeed-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--brandbckgrnd);
}

.newsfeed-leftcol{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1.2em;
}

.newsfeed-midcol{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1.2em;
}

.newsfeed-rightcol{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1.2em;
}



.newsfeed-ad-wrapper{
  width: 75%;
  background-color: white;
  margin-top: 0.6em;
}