*{
  box-sizing: border-box;
}

:root{
  --mainbrand: #ff6f69;
  --brandbckgrnd : #f3f3f3;
}

.landing-page{
  display: flex;
  height: 100vh;
  background: var(--brandbckgrnd);
}

.aboutarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background: var(--mainbrand);
  padding: 1em;
}

.abouttext {
  width: 80%;
  align-self: center;
}

.abouttext p {
  font-size: larger;
}

.loginbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 1em;
}

.user-login-form {
  padding: 20px;
  background: white;
  border-radius: 9px;
  border: 3px solid #555;
}

.navbar{
  color: white;
  background-color: var(--mainbrand);
  padding-top: 1em;
  position: relative;
  bottom: 0;
  width:100%;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial;
}

.footer{
    color: white;
    background-color: var(--mainbrand) ;
    padding-top: 0.5em;
    padding-left: 1em;
    position: relative;
    bottom: 0;
    width:100%;
  }

/* .footerContainer{
  background-color: yellow;
} */
.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height:auto;
  background-image: linear-gradient(var(--mainbrand),var(--brandbckgrnd));
  border-radius: 9px;
  border: 3px solid #555;
  padding: 10px 0px 10px;
} 

.profile-card h4, h6{
  border-bottom: 2px solid red;
}

#userImage{
  background-image: url("./assets/images/BlueStaffie.jpg");
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid white;
}
