*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root{
  --mainbrand: #ff6f69;
  --brandbckgrnd: #f3f3f3;
  --topdoglogo: url("https://img.icons8.com/pastel-glyph/64/000000/dog--v2.png");
}